/*****************************
reset
*****************************/
body a {
  color: #212529
}

/*****************************
header
*****************************/
.header {
  width: 100%;
  height: auto;
  padding: 24px;
  background-color: #5f79a8;
}

.header h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}

/*****************************
form
*****************************/
.formWrapper {
  margin-top: 24px;
  padding: 24px;
  background-color: #d2d8de;
}

.form {
  margin-top: 20px;
}

.form__field:not(:first-of-type) {
  margin-top: 10px;
}

.form__field picture {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.form__field picture img {
  display: block;
  width: 100%;
  height: auto;
}

.submitWrapper {
  width: 100%;
  text-align: center;
  margin: 20px auto 0;
}

.form label {
  display: block;
  font-size: 14px;
  color: #777;
}

.form input {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*****************************
filter
*****************************/
.filter {
  padding: 24px 0;
}

.filter .form__field label {
  display: inline-block;
  font-size: 14px;
  color: #777;
  margin-right: 12px;
}

.filter .form__field input {
  font-size: 12px;
  padding: 6px;
}

.filter__search,
.filter__total {
  text-align: center;
}

@media (min-width: 576px) {
  .filter__search {
    text-align: left;
  }

  .filter__total {
    text-align: right;
  }
}

.total__item,
.total__cost {
  display: inline-block;
  font-size: 14px;
  color: #777;
}

.total__cost {
  margin-left: 24px;
}

/*****************************
wishlist
*****************************/
.wishlist {
  padding: 0 24px;
}

.wishlist ul {
  padding: 0;
  list-style-type: none;
}


.wishlist__li {
  margin-bottom: 24px;
}

.wishlist__liInner {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: -1px 1px 5px 0px rgba(125, 125, 125, .3);
}

.wishlist__textBlock {
  display: block;
  width: calc(100% - 30px);
  height: 100%;
  padding: 20px;
}

.wishlist__modify {
  position: absolute;
  display: block;
  width: 30px;
  height: 100%;
  bottom: 0;
  right: 0;
}

.wishlist__modify .material-icons {
  font-size: 16px;
  color: #666;
}

.wishlist__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.wishlist__btn--edit {
  background-color: #d2d8de;
}

.wishlist__btn--delete {
  background-color: #bbbbbb;
}

.wishlist h2 {
  font-size: 24px;
}

.wishlist h3 {
  font-size: 16px;
}

/*****************************
single-display
*****************************/
.single-display {
  position: relative;
  width: 90%;
  margin: 20px auto 0;
}

.single-display picture,
.single-display picture img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.single-display__txtbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
}

.single-display__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 12px;
}

.single-display__btn--edit {
  background-color: #d2d8de;
}

.single-display__btn--delete {
  background-color: #bbbbbb;
}