/*****************************
header
*****************************/
.header {
  width: 100%;
  height: auto;
  padding: 24px;
  background-color: rgb(95, 168, 159)
}

.header h1 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}

/*****************************
form
*****************************/
.formWrapper {
  margin-top: 24px;
  padding: 24px;
  background-color: #d2d8de;
}

.form {
  margin-top: 20px;
}

.form__field:not(:first-of-type) {
  margin-top: 10px;
}

.submitWrapper {
  width: 100%;
  text-align: center;
  margin: 20px auto 0;
}

.form label {
  display: block;
  font-size: 14px;
}

.form input {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*****************************
total
*****************************/
.total {
  padding: 24px;
}

.total__item,
.total__cost {
  text-align: center;
}

/*****************************
wishlist
*****************************/
.wishlist {
  padding: 0 24px;
}

.wishlist ul {
  padding: 0;
  list-style-type: none;
}


.wishlist__li {
  margin-bottom: 24px;
}

.wishlist__liInner {
  position: relative;
  padding: 20px 50px 20px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.wishlist__modify {
  position: absolute;
  display: block;
  width: 30px;
  height: 100%;
  bottom: 0;
  right: 0;
}

.wishlist__modify .material-icons {
  font-size: 16px;
  color: #666;
}

.wishlist__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.wishlist__btn--edit {
  background-color: #d2d8de;
}

.wishlist__btn--delete {
  background-color: #bbbbbb;
}

.wishlist h2 {
  font-size: 24px;
}

.wishlist h3 {
  font-size: 16px;
}
